<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>write</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">게시글 작성</h1>
                <p class="lead">Firebase Basic Board</p>
            </div>
        </div>
        <form action='/write' method="post">
            <div class="form-group">
                <label>title</label>
                <input name='title' class="form-control" placeholder="title">
            </div>
            <div class="form-group">
                <label>content</label>
                <textarea name='content' class="form-control" rows="10" placeholder="content"></textarea>
            </div>
            <button class="btn btn-success float-right" type="submit">submit</button>
        </form>
    </div>
</body>

</html>
